@model IEnumerable<UsuarioViewModel>

@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" asp-controller="Usuarios" asp-action="AddOrEdit" role="button">Incluir novo usuário</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h4>Listagem de Usuários</h4>
    <hr />

    <table id="table-usuarios" class="table" style="width:100%">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Senha</th>
                <th scope="col">DataCadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var Usuario in Model)
                {
                    <tr>
                        <th scope="row">@Usuario.Id</th>
                        <td>@Usuario.Nome</td>
                        <td>@Usuario.Login</td>
                        <td>@Usuario.Email</td>
                        <td>@Usuario.Perfil</td>
                        <td>@Usuario.Senha</td>
                        <td>@Usuario.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="AddOrEdit" asp-controller="Usuarios" asp-route-id="@Usuario.Id" class="btn btn-primary"><i class="fa fa-marker fa-lg"></i>Editar</a>
                                <a role="button" asp-action="Delete" asp-controller="Usuarios" asp-route-id="@Usuario.Id" class="btn btn-danger" onclick="return confirm('Confirma a exclusão desse registro?')"><i class="fa fa-trash-alt fa-lg"></i>Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="8">Nenhum usuário encontrado</td></tr>
            }
        </tbody>
    </table>

</div>